:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    position: relative;
}

#menu,
#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    left: 1fr;
    transition: all 0.35s ease-in-out;
}

#menu::before {
    top: -20px;
}

#menu::after {
    top: 20px;
}

.container:hover #menu {
    background-color: white;
}

.container:hover #menu::after,
.container:hover #menu::before {
    top: 0;
}
.container:hover #menu::after {
    transform: rotate(-45deg);
}

.container:hover #menu::before {
    transform: rotate(45deg);
}

.container{
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    padding: 30px;
}

